.form-button {
  min-width: 180px;
  width: auto;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
}

.form-button:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.google-sign-in {
  background-color: #4285f4;
}

.google-sign-in:hover {
  background-color: #357ae8;
  color: white;
  border: none;
}

.inverted {
  color: black;
  background-color: white;
  border: solid 2px black;
}

.inverted:hover {
  color: white;
  background-color: black;
  border: none;
}
