.shop-item-bin {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 23%;
  position: relative;
}

.shop-item-image {
  height: 95%;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 5px;
}

.shop-item-bin:hover .shop-item-image {
  opacity: 0.6;
}

.shop-item-bin:hover .form-button {
  opacity: .8;
}

.shop-item-text {
  display: flex;
  justify-content: space-between;
  height: 5%;
  font-size: 18px;
}

.form-button {
  width: 80%;
  position: absolute;
  top: 230px;
  right: 10%;
  opacity: 0;
}
