.home-menu-item {
  border: solid black 1px;
  margin: 10px;
  display: flex;
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.large {
  height: 340px;
}

.background-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.background-image:hover {
  transform: scale(1.1);
}

.content {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  height: 90px;
  padding: 10px 30px;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(245, 245, 245, 0.60);
  position: absolute;
}

.title {
  color: darkblue;
  font-size: 32px;
  margin: 0;
}

.sub-title {
  font-size: 24px;
}